{% extends 'base.html' %}

{% block content %}

{% include "includes/alerts.html" %}
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include "includes/sidebar.html" %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3 ">Your Order History</strong>
                
            </header>
          
                 <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Order Number#</th>
                            <th scope="col">Billing</th>
                            
                            <th scope="col">Phone</th>
                            <th scope="col">Order Total</th>
                            <th scope="col">Date</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Manage Order</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                          <tr>
                           
                            <th scope="row"><a href=" {% url 'order_detail' order.order_number %} ">{{ order.order_number }}</a></th>
                            <td>{{order.full_name}}</td>
                            <td>{{order.phone}}</td>
                            <td>{{order.order_total}}</td>
                            <td>{{order.created_at}}</td>
                            <td class="text-success">{{order.status}}</td>
                            <td>{% if order.status == "Cancelled" or order.status == "Delivered" %}  {% else %} <a  href="{% url 'cancel_order' order.id %}" class="btn btn-primary" onclick="return confirm('Are you sure ? You want to cancel the order')" >Cancel</a> {% endif %}</td>
                           
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    
                 </div>
                </div>
            </div> <!-- card-body .// -->
            


            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock content %}



