{% extends 'base.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<style>
  form .error {
      color: #ff0001;
      }
</style>
<section class="section-content padding-y ">
        <div class="card mx-auto bg-dark" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4"><h4 class="card-title text-white">Sign up</h4></header>
            <form action="{% url 'register'%}" method="post" id="form">
                {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group text-white">
                            <label>First name</label>
                              {{form.first_name}}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group text-white">
                            <label>Last name</label>
                              {{form.last_name}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                   
                    <div class="form-row">
                        <div class="form-group col-md-6 text-white">
                          <label>Email Address</label>
                          {{form.email}}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6 text-white">
                          <label>Phone Number</label>
                          {{form.phone_number}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6 text-white">
                            <label>Create password</label>
                            {{form.password}}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6 text-white">
                            <label>Repeat password</label>
                            {{form.confirm_password}}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-light btn-lg px-5 b"> Register  </button>
                        <div class="text-danger">
                            {{ form.email.errors }}
                            {{ form.non_field_errors }}
                        </div>
                    </div> <!-- form-group// -->      
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4 text-dark">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    
    
    
    </section>


    <script> jQuery('#form').validate({
        rules: {
          first_name: 'required',
          email: 'required',
          number: 'required',
          password: 'required',
        }, messages: {
          first_name: 'Please enter valid name',
          last_name: 'Please enter a valid Last Name',
          email : 'Enter a Valid Email',
        }, submitHandler: function (form) {
          form.submit();
        }
      })
    </script>

{% endblock content %}


