{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<style>
    form .error {
        color: #ff0001;
        }
</style>

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <div class="row">
        <aside class="col-lg-5">
    <div class="card ">
        <div class="card-body">
            <h4 class="card-title mb-4" >Billing Address</h4>
            <form action="{% url 'place_order' %}" method="POST" id="form">
                {% csrf_token %}
                <div class="form-group">
                    {% for i in user %}
                    
                    <input required type="radio" name="address" value="{{ i.id }}" id="">
                    <label class="form-group" for="">{{i.user.first_name }} {{i.user.last_name }} <br> {{i.address_line_1}} <br> {{i.address_line_2}} <br> {{i.city}} ,{{i.state}} ,{{i.country}} <br> {{i.pincode}}</label><br>
                    <a  href="{% url 'add_address' %}" class="btn btn-primary p-3">Add Address</a>
                    
                   
                    {% endfor %}
                </div>
                
  
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-7 ">
    
            <div class="card d-flex">
            <div class="card-body">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Product</th>
                      <th scope="col" width="120" >Quantity</th>
                      <th scope="col" width="120">Price</th>
                      <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                        {% for cart_item in cart_items %}
                        <td class="ms-3">
                            <figure class="itemside align-items-center">
                                <div class="aside"><img src="{{ cart_item.product.image.url }}" class="img-sm"></div>
                                <figcaption class="info">
                                    <a href="{{cart_item.product.get_url}}" class="title text-dark" >{{cart_item.product.product_name}}</a>
                                        
                                        <p  class="text-muted small">{% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category| capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                {% endfor %}
                                            {% endif %}</p>
                                </figcaption>
                            </figure>
                        </td>
                        <td> 
                            <!-- col.// -->
                            <div class="price-wrap ml-5"> 
                                <var class="price">{{cart_item.quantity}}</var> 
                                
                            </div> 
                                    <!-- col.// -->
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">₹{{grand_total}}</var> 
                                <small class="text-muted"> ₹{{cart_item.product.price}} each </small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        
                    </tr>
                    {% endfor %}
                    
                    
                    </tbody>
                    </table>
                    {% if request.session.coupon_code %}

                    <label>Coupon-code : </label>
                    <input type="text" class="form-control coupon col-lg-5" name="code" value="{{ request.session.coupon_code }}"  placeholder="{{ request.session.coupon_code }}"/>
                          <a class="btn btn-info btn-apply coupon mt-2 mb-4" href="{% url 'couponremove' %}">Remove</a>
                          {% else %}
            
                           <label>Coupon-code : </label>
            
                    <input type="text" class="form-control coupon " name="code"  />
                          {% endif %}
                    <button type="submit" class="btn btn-primary btn-apply coupon mt-2 mb-4" name="coupon" >Apply</button>
                
                <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order </button>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
        </form>
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <script> jQuery('#form').validate({
        rules: {
          first_name: 'required',
          email: 'required',
          number: 'required',
          password: 'required',
        }, messages: {
          first_name: 'Please enter valid name',
          description: 'Please Enter Your description',
          price: 'Please Enter price',
          category: 'Please Enter valid category',
        }, submitHandler: function (form) {
          form.submit();
        }
      })
    </script>

{% endblock content %}



