{% extends 'base.html' %}

{% block content %}

{% include "includes/alerts.html" %}
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item " href="/accounts/dashboard/"> Dashboard </a>
        <a class="list-group-item " href="/orders/my_orders"> My Orders </a>
        <a class="list-group-item " href="/accounts/add_address"> Add Address </a>
        <a class="list-group-item active" href="/accounts/edit_profile/"> Edit Profile </a>
        <a class="list-group-item " href="/accounts/change_password/">Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block " href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3 ">Add Address</strong>

            </header>
            
                 <div class="col-md-12">
                     <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 ">
                                <label>First Name</label>
                                <input type="text" name="first_name"  maxlength="50" class="form-control" required="" id="id_first_name">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label>Last Name</label>
                                <input type="text" name="last_name"  maxlength="50" class="form-control" required="" id="id_last_name">
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 ">
                                <label>Phone Number</label>
                                <input type="text" name="phone_number"  maxlength="10" class="form-control" required="" id="id_phone_number">
                            </div>
                            
                        </div>
                        <div class="form-group">
                                <label>Address Line 1</label>
                                <input type="text" name="address_line_1"  maxlength="100" class="form-control" id="id_address_line_1">
                            </div>
                        <div class="form-group">
                                <label>Address Line 2</label>
                                <input type="text" name="address_line_2"  maxlength="100" class="form-control" id="id_address_line_2">
                             </div>
                        <div class="form-row">
                            <div class="form-group col-md-3 ">
                                <label>City</label>
                                <input type="text" name="city"  maxlength="20" class="form-control" id="id_city">
                            </div>
                            <div class="form-group col-md-3 ">
                                <label>State</label>
                                <input type="text" name="state"  maxlength="20" class="form-control" id="id_state">
                            </div>
                            <div class="form-group col-md-3 ">
                                <label>Country</label>
                                <input type="text" name="country"  maxlength="20" class="form-control" id="id_country">
                             </div>
                            <div class="form-group col-md-3 ">
                                <label>Pincode</label>
                                <input type="text" name="pincode"  maxlength="20" class="form-control" id="id_pincode">
                            </div>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary mb-2">
                        
                     </form>

                 </div>
                </article></main></div>
            </div> <!-- card-body .// -->



             <!-- order-group.// -->
        
     <!-- row.// -->
    


    </section>

{% endblock content %}
