{% extends 'admins/adminbase.html' %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />

<div class="main-panel">        
    <div class="content-wrapper">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Product</h4>
                <!-- <p class="card-description">
                Basic form layout
                </p> -->
                <form action="" enctype="multipart/form-data" class="forms-sample" method="POST" id="ItemCreateForm" >
                    {% csrf_token %}
                   
                   
                        {{ form.as_p }}
                        <label for="">image</label><br>
                        <div id="crop">
                            <img id="imgView1" alt="" style="height: 100px; width: 120px" class="clr" />

                            <div class="vald-info" id="info"></div>
                            <h5 class="error_form text-danger" id="image1_error_message"></h5>
                            <div style="display: flex">
                                <div id="image-box1" class="image-container clr" style="height: 300px; width: 20%">
                                </div>
                                <div>
                                    <button type="button" class="betaButton btn btn-success" id="crop-btn1" style="
                                                display: none;
                                                margin: 20px 0px 0px 40px;
                                                position:relative;
                                                top:80%;
                                                left:70%
                                                ">
                                        Crop
                                    </button>
                                </div>
                            </div>
                        </div>

{% comment %} 
                        <input type="file" name="image" class="form-control" onchange="changeImg(event)" id="id_image1"
                            onchange="viewImage1(event)" /><br /> {% endcomment %}
                   
                    
                    <button type="submit" class="btn btn-primary me-2">Submit</button> 
              
                </form>
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
              
                
            </div>
          
            </div>
        </div>
    
      </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
<script>
  $("#id_category").change(function () {
    var url = $("#ItemCreateForm").attr("data-subcategory-url");  // get the url of the `load_cities` view
    var categoryId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'category': categoryId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_subcategory").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });

 function changeImg(event) {
        document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
    }
    const imagebox1 = document.getElementById("image-box1");
    const crop_btn1 = document.getElementById("crop-btn1");
    const input1 = document.getElementById("id_image1");
    function viewImage1(event) {
        var fileInput1 = document.getElementById("id_image1");
        var filePath1 = fileInput1.value;
        var allowedExtensions = /(\.jpg)$/i;
        if (!allowedExtensions.exec(filePath1)) {
            fileInput1.value = "";
            swal("There is a problem!", "Please choose image file.");
            return false;
        } else {
            document.getElementById("imgView1").src = URL.createObjectURL(
                event.target.files[0]
            );
        }
    }

    // When user uploads the image this event will get triggered
    input1.addEventListener("change", () => {
        // Getting image file object from the input variable
        const img_data1 = input1.files[0];
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url1 = URL.createObjectURL(img_data1);
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox1.innerHTML = `<img src="${url1}" id="image1" style="width:100%;">`;
        // Storing that cropping view image in a variable
        const image1 = document.getElementById("image1");

        // Displaying the image box
        document.getElementById("image-box1").style.display = "block";
        // Displaying the Crop buttton
        document.getElementById("crop-btn1").style.display = "block";
        // Hiding the Post button
        document.getElementById("imgView1").style.display = "block";

        const cropper1 = new Cropper(image1, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: false,
            zoomable: false,
            movable: false,
            minCropBoxWidth: 50,
            minCropBoxHeight: 50,
        });
        // When crop button is clicked this event will get triggered
        crop_btn1.addEventListener("click", () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper1.getCroppedCanvas().toBlob((blob) => {
                // Gets the original image data
                let fileInputElement1 = document.getElementById("id_image1");
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file1 = new File([blob], img_data1.name, {
                    type: "image/*",
                    lastModified: new Date().getTime(),
 });
                // Create a new container
                let container1 = new DataTransfer();
                // Add the cropped image file to the container
                container1.items.add(file1);
                // Replace the original image file with the new cropped image file
                fileInputElement1.files = container1.files;
                document.getElementById("imgView1").src = URL.createObjectURL(
                    fileInputElement1.files[0]
                );
                // Hide the cropper box
                document.getElementById("image-box1").style.display = "none";
                // Hide the crop button
                document.getElementById("crop-btn1").style.display = "none";


            });
        });
    }); 

</script>
{% endblock %}